# =======================================================
# AWS Credentials & Multi-Account Settings
# =======================================================

# --- AWS Account 1 (Primary Account) ---
AWS_ACCESS_KEY_ID=your_aws_account_1_access_key
AWS_SECRET_ACCESS_KEY=your_aws_account_1_secret_key
AWS_REGION=us-east-1
AWS_ACCOUNT_NAME=AWS Account 1 (Primary)

# --- AWS Account 2 (Secondary Account) ---
AWS_ACCOUNT_2_ACCESS_KEY_ID=your_aws_account_2_access_key
AWS_ACCOUNT_2_SECRET_ACCESS_KEY=your_aws_account_2_secret_key
AWS_ACCOUNT_2_REGION=us-east-1
AWS_ACCOUNT_2_NAME=AWS Account 2

# Output & Months History
AWS_COST_OUTPUT_FOLDER=./AWSReports
AWS_COST_MONTHS_HISTORY=6

#Cloudflare secrets
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
AZURE_COST_R2_PREFIX=

#Cloudflare azure bucket secrets
R2_AZURE_DATA_ACCOUNT_ID=
R2_AZURE_DATA_ACCESS_KEY_ID=
R2_AZURE_DATA_SECRET_ACCESS_KEY=
R2_AZURE_DATA_BUCKET_NAME=

#Azure credentials
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

#SMTP CONFIG-
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=

SMTP_USER=
SMTP_PASSWORD=
ALERT_EMAIL_FROM=
ALERT_EMAIL_TO=


