# Dependencies
node_modules/

# Secrets 
.env

#report data
data/

# Generated reports
AWSReports/
AzureDashboardReports/
AzureUsageReports/
AzureAnomalyAlerts/

# OS / editor junk
.DS_Store
Thumbs.db
*.log

da-work/
env/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
